html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.homeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/milad-fakurian-seA-FPPXL-M-unsplash.webp');
    background-size: cover;
    width: 100%;
    height: 62.5rem;
}
.containerForm{
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 62.5rem;
    width:18.75rem;
}
h2{
    color: white;
}
.buttonSend{
    background-color:black;
    color: white;
    font-size: 1.5rem;
    border-radius: .625rem;
    border-color: red ;
}
.inputValue{
    height: 1.875rem;
    font-size: 1.5rem;
}
label{
    font-size: 1.5rem;
}
.containerCard{
    width: 18.75rem;
    height: fit-content;
    background-color: rgb(226, 226, 226);
    
}
h5{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}
.itemsList{
    font-size: 1.25rem;
    padding: .625rem;
    width: 100%;
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 1.25rem;
    margin: 1.25rem;
    background-color: rgba(0, 0, 255, 0.226);
}